.cardstyle {
  margin-top: 100px;
  display: flex;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#button {
  display: block;
  color: antiquewhite;
  margin-left: 80%;
}
.linkstyle {
  color: aliceblue;
  text-decoration: none;
}
.linkstyle:hover {
  color: aliceblue;
}
