.cardstyle {
  margin-top: 100px;
  display: flex;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#button {
  display: block;
  color: antiquewhite;
  margin-left: 80%;
} zo
.linkstyle {
  color: aliceblue;
  text-decoration: none;
}
.linkstyle:hover {
  color: aliceblue;
}
#navbarStyle {
  text-decoration: none;
  color: rgb(51, 49, 49);
}
#navbarStyle:hover {
  color: rgba(218, 28, 28, 0.89);
 
}
